<footer class="footer" > 
    <div class="container"class="text-center" >
       <div class="container ">
        <div class="row">
            <div class="col" >
               <div class="containar-1 ">
                  <h6>Bussiness English</h6> 
                  <B>Grammar </B>
               </div>
            </div>
            <div class="col">
                <div class="containar-2 ">
                    <h6>Common English</h6> 
                    <B>phrasal verbs </B>
                 </div>
            </div>
            <div class="col">
                <div class="containar-3">
                    <h6>Bussiness English</h6> 
                    <B>Vocabulary </B>
                 </div>
            </div>
        </div>
       </div>
    </div>
</footer>